<div class="dashboard-container">
  <nav class="navbar">
    <ul>
      <li><a routerLink="current-topic" routerLinkActive="active">Current Topic</a></li>
      <li><a routerLink="recent-finished-topic" routerLinkActive="active">Recent Finished Topic</a></li>
      <li><a routerLink="coming-soon" routerLinkActive="active">Coming Soon</a></li>
      <li><a routerLink="all-topics" routerLinkActive="active">All Topics</a></li>
    </ul>
  </nav>
  <div class="main-section">
    <router-outlet></router-outlet>
  </div>
</div>