<div class="dashboard-container">

  <aside class="dashboard-aside">
    <nav>
      <ul>
        <li><a routerLink="/admin/dashboard/new-topic" routerLinkActive="active">New Topic</a></li>
        <li><a routerLink="/admin/dashboard/postpone-topic" routerLinkActive="active">Postpone Topic</a></li>
        <li><a routerLink="/admin/dashboard/extend-topic" routerLinkActive="active">Extend Topic</a></li>
        <li><a routerLink="/admin/dashboard/cancel-topic" routerLinkActive="active">Cancel Topic</a></li>
      </ul>
    </nav>
  </aside>

  <main class="dashboard-main">
    <router-outlet></router-outlet>
  </main>
</div>